html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

    background-image: url("../images/kh1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
   /* background-color: orange; */

}

.header a {
    color: rgb(219, 207, 207);
}

.header .main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

    max-width: 1160px;
    margin: 0 auto;
}

.header .logo {
    width: 100px;
    height: auto;
    object-fit: cover;
}


.header .site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
    flex-basis: 800px;
}



.container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.bg {
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
}



.main .home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 665px;
}

.home .avatar-img {
    width: 200px;
    height: auto;
}

.home .home__name {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.home .home__position {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.about {
    padding-bottom: 50px;
}

.about .about__title {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.about p {
    text-align: justify;
    font-size: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 50px;
}

.skills::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 1px;
    background-color: rgb(51, 51, 51);
}

.skills::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;
    background-color: rgb(51, 51, 51);
}

.skills .skills__title {
    flex-basis: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.skills .skills--wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.skills .professional-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(115, 115, 117);
    box-shadow: 0 10px 10px black;
    flex-basis: 300px;
    text-align: center;
}

.skills .professional-skills__list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.skills .professional-skills__item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.professional-skills__item p {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.skills .professional-skills__item:nth-child(1)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 45%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 15%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(3)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 20%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(4)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 20%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(5)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 3%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(6)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 3%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(7)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 1%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(8)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 1%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(9)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 15%;
    height: 10px;

    background-color: lightslategray;
}
.skills .professional-skills__item:nth-child(10)::after {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 1%;
    height: 10px;

    background-color: lightslategray;
}



.skills .skills__cms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(115, 115, 117);
    box-shadow: 0 10px 10px black;
    flex-basis: 300px;
    text-align: center;
}

.skills .cms__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills .cms__item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.cms__item p {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.skills .cms__item:nth-child(1)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 12%;
    height: 10px;

    background-color: lightslategray;
}
.skills .cms__item:nth-child(2)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 3%;
    height: 10px;

    background-color: lightslategray;
}
.skills .cms__item:nth-child(3)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 3%;
    height: 10px;

    background-color: lightslategray;
}
.skills .cms__item:nth-child(4)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 3%;
    height: 10px;

    background-color: lightslategray;
}
.skills .cms__item:nth-child(5)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 1%;
    height: 10px;

    background-color: lightslategray;
}
.skills .cms__item:nth-child(6)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 1%;
    height: 10px;

    background-color: lightslategray;
}


.skills .languages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(115, 115, 117);
    box-shadow: 0 10px 10px black;
    flex-basis: 300px;
    text-align: center;
}

.skills .languages__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills .languages__item {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.languages__item p {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.skills .languages__item:nth-child(1)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 90%;
    height: 10px;

    background-color: lightslategray;
}

.skills .languages__item:nth-child(2)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 80%;
    height: 10px;

    background-color: lightslategray;
}

.skills .languages__item:nth-child(3)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 45%;
    height: 10px;

    background-color: lightslategray;
}

.skills .languages__item:nth-child(4)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 5%;
    height: 10px;

    background-color: lightslategray;
}

.skills .languages__item:nth-child(5)::after  {
    content: "";
    position: absolute;
    bottom: 10px;
    
    width: 1%;
    height: 10px;

    background-color: lightslategray;
}

.portfolio {
    padding-bottom: 50px;
    position: relative;
}

.bg-city {
    position: relative;
}
/*
.bg-city::before {
    content: "";
    position: absolute;
    top: 475px;

    width: 100%;
    height: 20px;
    background: rgba(56,56,58,1);
    background: -moz-linear-gradient(top, rgba(56,56,58,1) 0%, rgba(45,43,46,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,56,58,1)), color-stop(100%, rgba(45,43,46,1)));
    background: -webkit-linear-gradient(top, rgba(56,56,58,1) 0%, rgba(45,43,46,1) 100%);
    background: -o-linear-gradient(top, rgba(56,56,58,1) 0%, rgba(45,43,46,1) 100%);
    background: -ms-linear-gradient(top, rgba(56,56,58,1) 0%, rgba(45,43,46,1) 100%);
    background: linear-gradient(to bottom, rgba(56,56,58,1) 0%, rgba(45,43,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38383a', endColorstr='#2d2b2e', GradientType=0 );
}*/

.portfolio h2 {
    flex-basis: 100%;
    margin: 0;
    padding-top: 50px;
    text-align: center;

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.portfolio a {
    color: rgb(219, 207, 207);
}

.portfolio .portfolio__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    flex-basis: 300px;

    list-style: none;
    text-align: center;
}
.portfolio .portfolio__item {
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(115, 115, 117);
    box-shadow: 0 10px 10px black;
    margin-top: 50px;
}


.portfolio__list img {
    width: 300px;
    height: 200px;
}

.bg-city {
    background-image: url("../images/city.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;

    min-height: 1100px;
}

.contacts {
    position: relative;
    padding-bottom: 50px;
}

.contacts::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;
    background-color: rgb(51, 51, 51);
}


.contacts h2 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    padding: 50px 0;
}

.contacts .contacts__wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts__wrapper .second-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.second-menu a {
    color: rgb(219, 207, 207);
}

.second-menu .second-menu__item {
    margin: 10px 0;
}

.contacts__wrapper .contacts__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts__list a {
    color: rgb(219, 207, 207);
}

.contacts__list .contacts__item {
    margin: 10px 0;
}

.contacts__wrapper .contacts__social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-basis: 300px;
}

.contacts__social-list .social-list__item {
    opacity: 0.3;
}
.contacts__social-list .social-list__item:hover {
    opacity: 1;
}

.footer {
    background-image: url("../images/bg-footer.jpg");

    padding: 0;
    margin: 0;
    margin: 0 auto;
}

.footer .footer__copyright {
    font-size: 36px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 25px 0;
    margin: 0;
    text-align: center;
    color: rgb(219, 207, 207);
}

@media (max-width: 1200px) {
    body {
    
        background-image: url("../images/kh1.jpg");
        background-size: 1200px auto;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .header .logo {
        width: 80px;
    }
    .header .site-navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-basis: 600px;
        
        font-size: 16px;
    }

    
    .main .home {
        margin-bottom: 335px;
    }

    .home .avatar-img {
        width: 150px;
        height: auto;
    }
    .home .home__name {
        font-size: 30px;
    }
    .home .home__position {
        font-size: 22px;
    }

    .about p {
        text-align: justify;
        font-size: 17px;
    }
    
}

/*laptop*/

@media (max-width: 992px) {
    .skills .skills--wrapper {
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .skills .professional-skills {
        flex-basis: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .skills .skills__cms {
        flex-basis: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .skills .languages {
        text-align: center;
        flex-basis: 300px;
        margin: 0 auto;
    }
    .portfolio .portfolio__list {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .portfolio__list img {
        width: 270px;
        height: 170px;
    }
    
}
/*tablet*/

@media (max-width: 767px) {
    body {
    
        background-image: url("../images/kh1.jpg");
        background-size: 767px auto;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .header .logo {
        width: 60px;
    }

    .header .site-navigation {
        flex-basis: 400px;
        font-size: 12px;
    }
        
    .main .home {
        margin-bottom: 208px;
    }

    .home .avatar-img {
        width: 80px;
        height: auto;
    }
    .home .home__name {
        font-size: 18px;
    }
    .home .home__position {
        font-size: 15px;
    }
    
    .about p {
        text-align: justify;
        font-size: 15px;
    }

    .portfolio .portfolio__list{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 480px) and (max-width: 540px) {
    .main .home {
        margin-bottom: 190px;
    }
}